<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="BPS.EdOrg.Loader" type="log4net.Appender.RollingFileAppender">
      <file value="log\BPS.EdOrg.Loader.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="Info" />
      <!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->
      <appender-ref ref="BPS.EdOrg.Loader" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CrossWalkSchoolApiUrl" value="https://stagedfi.mybps.org:443/api/api/v2.0/2019/schools" />
    <add key="CrossWalkStaffApiUrl" value="https://stagedfi.mybps.org:443/api/api/v2.0/2019/staffs" />
    <add key="CrossWalkOAuthUrl" value="https://stagedfi.mybps.org/api/" />
    <add key="CrossWalkKey" value="66D6CEF95E0A4A43" />
    <add key="CrossWalkSecret" value="961210E235FB4552B1F4" />
    <add key="DataFilePath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\BPSTBL_DEPTTBL.txt" />
    <add key="DataFilePathJob" value="C:\Ed-Fi\BostonPublicSchool\Deployment\R0100156_JOB_W_ORIGHIRDT.txt" />
    <add key="CrossWalkFilePath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\PeopleSoft.txt" />
    <add key="XMLOutputPath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\Output\" />
    <add key="XMLDeploymentPath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\" />
    <add key="OAuthKey" value="66D6CEF95E0A4A43" />
    <add key="OAuthSecret" value="961210E235FB4552B1F4" />
    <add key="OAuthUrl" value="https://stagedfi.mybps.org:443/api" />
    <add key="StaffApi" value="api/v2.0/2019/staffs" />
    <add key="APP_Key" value="BAD9BF5739C143F3" />
    <add key="APP_Secret" value="1AB0B1DC7D73471A848F" />
    <add key="ApiUrl" value="https://stagedfi.mybps.org:443/api/api/v2.0/" />
    <add key="SwaggerUrl" value="https://stagedfi.mybps.org/api/metadata" />
    <add key="SchoolYear" value="2019" />
    <add key="BakupDays" value="15" />
    <add key="XsdFolder" value="C:\Ed-Fi\BostonPublicSchool\Deployment\XsdFolder" />
    <add key="InterchangeOrderFolder" value="C:\Workspace\BostonPublicSchool\Deployment\XsdFolder\Metadata\" />
    <add key="WorkingFolder" value="C:\Ed-Fi\BostonPublicSchool\Deployment\Working" />
    <add key="ApiLoaderExePath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\EdFi.ApiLoader.Console\EdFi.ApiLoader.Console.exe" />
    <add key="LogFileDrive" value="C:\Logs\Deployment\"/>
    <add key="SmtpServerHost" value="smtp.boston.k12.ma.us"/>
    <add key="ReviewTeam" value="sparbhakar@bostonpublicschools.org"/>
    <add key="EmailFromAddr" value="noreply@bostonpublicschools.org"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SchoolStartDate" value="2018-06-25" />
    <add key="CrossWalkStudentApiUrl" value="https://stagedfi.mybps.org:443/api/api/v2.0/2019/students" />
    <add key="CrossWalkStudentSpecialEducationApiUrl" value="https://stagedfi.mybps.org:443/api/api/v2.0/2019/studentSpecialEducationProgramAssociation" />
    <add key="XMLExtractedPath" value="C:\Ed-Fi\BostonPublicSchool\Deployment\Aspen_in_XML\"/>
  </appSettings>
  <!--<appSettings>
    <add key="CrossWalkSchoolApiUrl" value="https://edfi.mybps.org:443/api/api/v2.0/2019/schools" />
    <add key="CrossWalkStaffApiUrl" value="https://edfi.mybps.org:443/api/api/v2.0/2019/staffs" />
    <add key="CrossWalkOAuthUrl" value="https://edfi.mybps.org/api/" />
    <add key="CrossWalkKey" value="66D6CEF95E0A4A43" />
    <add key="CrossWalkSecret" value="961210E235FB4552B1F4" />
    <add key="DataFilePath" value="C:\Workspace\BostonPublicSchool\Deployment\BPSTBL_DEPTTBL.txt" />
    <add key="DataFilePathJob" value="C:\Workspace\BostonPublicSchool\Deployment\R0100156_JOB_W_ORIGHIRDT.txt" />
    <add key="CrossWalkFilePath" value="C:\Workspace\BostonPublicSchool\Deployment\PeopleSoft.txt" />
    <add key="XMLOutputPath" value="C:\Workspace\BostonPublicSchool\Deployment\Output" />
    <add key="XMLDeploymentPath" value="C:\Workspace\BostonPublicSchool\Deployment" />
    <add key="OAuthKey" value="66D6CEF95E0A4A43" />
    <add key="OAuthSecret" value="961210E235FB4552B1F4" />
    <add key="StaffApi" value="api/v2.0/2019/staffs" />
    <add key="APP_Key" value="70FBFFC6CB5E46D9" />
    <add key="APP_Secret" value="4FDA4BFD3D9B479A8265" />
    <add key="OAuthUrl" value="https://edfi.mybps.org:443/api" />
    <add key="ApiUrl" value="https://edfi.mybps.org:443/api/api/v2.0/" />
    <add key="SwaggerUrl" value="https://edfi.mybps.org/api/metadata" />
    <add key="SchoolYear" value="2019" />
    <add key="BakupDays" value="15" />
    <add key="XsdFolder" value="C:\Workspace\BostonPublicSchool\Deployment\XsdFolder" />
    <add key="InterchangeOrderFolder" value="C:\Workspace\BostonPublicSchool\Deployment\XsdFolder\Metadata" />
    <add key="WorkingFolder" value="C:\Workspace\BostonPublicSchool\Deployment\Working" />
    <add key="ApiLoaderExePath" value="C:\Workspace\BostonPublicSchool\Deployment\EdFi.ApiLoader.Console\EdFi.ApiLoader.Console.exe" />
    <add key="LogFileDrive" value="C:\Logs\Deployment\"/>
    <add key="SmtpServerHost" value="smtp.boston.k12.ma.us"/>
    <add key="ReviewTeam" value="sparbhakar@bostonpublicschools.org"/>
    <add key="EmailFromAddr" value="noreply@bostonpublicschools.org"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>